/*
Met deze code kan je een tweede item uit een lijst pakken:

 main article footer ul li:nth-of-type(2){
  color: blue;
} */
* {}

html {}

body {
  background-color: #f2f2f2;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  color: #1a6c9c;
}

/* 1 */
header {
  background-color: white;
}

/* 1 */
main {}

/* 1 */
footer{

}

/* 2 */
nav {
  background-image: url("../images/Wachtenoptrein.jpg");
  background-size: 100%;
}

/* 2 */
section {}

/* 2 */
form {}

/* 2 */
article {
  background-color: white;
  width: 80%;
  border-radius: .2em;
  margin: auto;
  color: black;
}

/* 3+ */
ul {
  list-style: none;
}

a{
text-decoration: none;
}

button {
  font-weight: 600;
  color: #1a6c9c;
}

/* De bovenste drie dingen: opgeslagen, logo en profiel */
header>ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 4em;
}

header>ul>li>a {
  padding: .5em;
  color: #ef1a30;
}

/* Alle 99 verhalen, Kiezen door een quiz en Veras mij */
nav>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: 12em;
}

nav>ul>li>a {
  background-color: #d1ebf8;
  padding: .5em;
  border-radius: .2em;
  color: #1a6c9c;
  font-weight: 600;
}

/* Alles in de main IK KOM ER NIET UIT om deze goed te krijgen(:not(h4))*/
main > form {
  color: black;
  display: flex;
  justify-content: space-around;
}

main > form label{
display: flex;
justify-content: space-around;
align-items: center;
}

/* de knoppen (radiobuttons) in het formulier (emotie, leestijd, enz) */
label {
  padding: 0.5em;
  background-color: #e8e8ea;
  border-radius: .2em;
  font-weight: 600;
  width: 5em;
  height: 1em;

}

/* wanneer je drukt op de knoppen */
input:checked+label {
  background: white;
  border: solid;
  color: #1a6c9c;
}

/* radiobuttons niet zichtbaar */
input {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
}

/* dingen in het artikel */
article header img {
  width: 100%;
  border-radius: .2em .2em 0 0;
}

article footer ul li {
  text-transform: uppercase;
}

article footer ul li span {
  text-transform: none;
  color: #1a6c9c;
}

body > footer {
  border-top: solid;
  color: #ef1a30;
  height: 20%;
}

body > footer > a{
  color: #1a6c9c;
}

p {
  color: black;
}

/* opmaak van de svg's */
#RET {
  height: 60%;
}

/* Met dit element heb ik ruzie..... daarom heb ik hem nu de class ruzie gegeven dit moet anders */
#RETT {
  height: 40%;
}

.ruzie {
  display: flex;
  justify-content: flex-end;
}

/* Opgeslagen en Profiel wil ik beide pakken hoe doe ik ze in een? */
#opgeslagen {
  height: 70%;
}
#profiel {
  height: 70%;
}

#beoordeling {
  width: 40%;
}

#leestijd {
  width: 20%;
}
