/*
Met deze code kan je een tweede item uit een lijst pakken:

 main article footer ul li:nth-of-type(2){
  color: blue;
} */

html {}

body {
  background-color: #f2f2f2;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  color: #1a6c9c;
  margin: 0;
}

/* 1 */
header {
  background-color: white;
}

/* 1 */
main {
  margin: 0 1em;
}

/* 1 */
footer{

}

/* 2 */
header > nav:last-of-type {
  background-image: url("../images/Wachtenoptrein.jpg");
  background-size: 100%;
}

/* 2 */
form {
}

/* 2 */
article {
  background-color: white;
  width: 80%;
  border-radius: .2em;
  margin: auto;
  color: black;
}

/* 3+ */
ul {
  list-style: none;
}

a{
text-decoration: none;
}

button {
  font-weight: 600;
  color: #1a6c9c;
}

fieldset{
  border: 0;
  margin: 0;
}

div{
  display: flex;
  justify-content: space-between;
}

h1{
  border-bottom: 0.1em solid #ef1a30;
  width: 55%
}

h3 {
  border-bottom: 0.1em solid #ef1a30;
  width: 8em;
  margin: 1em;
}

/* De bovenste drie dingen: opgeslagen, logo en profiel */

header nav:first-of-type ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 4em;
}

header nav:first-of-type >ul>li>a {
  padding: .5em;
  color: #ef1a30;
}

/* Alle 99 verhalen, Kiezen door een quiz en Veras mij */
header nav:last-of-type ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 12em;
  margin: 1em;
  padding: 2em 0;
}

header nav:last-of-type ul li a {
  background-color: #d1ebf8;
  padding: .5em;
  border-radius: .2em;
  color: #1a6c9c;
  font-weight: 600;
}

/* Alles in de main IK KOM ER NIET UIT om deze goed te krijgen(:not(h4))*/
main > form {
  color: black;
}

/* de knoppen (radiobuttons) in het formulier (emotie, leestijd, enz) */
label {
  padding: 0.5em;
  background-color: #e8e8ea;
  border-radius: .2em;
  font-weight: 600;
  width: 5em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* wanneer je drukt op de knoppen */
input:checked+label {
  background: white;
  border: solid;
  color: #1a6c9c;
}

/* radiobuttons niet zichtbaar */
input {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
}

/* dingen in het artikel */
article header img {
  width: 100%;
  border-radius: .2em .2em 0 0;
}

article footer ul li {
  text-transform: uppercase;
}

/* Er is hier een span gebruikt omdat het om een stukje gaat uit een element */
article footer ul li span {
  text-transform: none;
  color: #1a6c9c;
}

body > footer{
  border-top: 0.1em solid #ef1a30;
  height: 20%;
  margin: 1em;
}

body > footer > nav > ul > li> a{
  color: #1a6c9c;
}

body > footer > nav > ul  {
    margin: 1em 0 0 0;
    padding: 0;
}

p {
  color: black;
}

/* opmaak van de svg's */
#RET {
  height: 60%;
}

/* Met dit element heb ik ruzie..... daarom heb ik hem nu de class ruzie gegeven dit moet anders */
#RETT {
  height: 40%;
}

.ruzie {
  display: flex;
  justify-content: flex-end;
}

/* Opgeslagen en Profiel wil ik beide pakken hoe doe ik ze in een? */
#opgeslagen {
  height: 70%;
}
#profiel {
  height: 70%;
}

#beoordeling {
  width: 40%;
}

#leestijd {
  width: 20%;
}
