/*
Met deze code kan je een tweede item uit een lijst pakken:

 main article footer ul li:nth-of-type(2){
  color: blue;
} */

/* algemene zaken */
ul {
  list-style: none;
}

a{
text-decoration: none;
}

p {
  color: black;
  font-size: 1em;
}

em{
  font-style: normal;
}

html {

}

body {
  background-color: #f2f2f2;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  color: #1a6c9c;
  margin: 0;
  font-size: 1em;
}

/* alles in de header*/
/* 1 */
header {
  background-color: white;
}

/* De bovenste drie dingen: opgeslagen, logo en profiel (1e nav)*/
header nav:first-of-type {
  height: 4em;
  margin: 0;
  padding: 0.5em 0;
}

header nav:first-of-type ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
}

header nav:first-of-type >ul>li>a {
  padding: .5em;
  color: #ef1a30;
}

/* Alle 99 verhalen, Kiezen door een quiz en Veras mij (2e nav)*/
header > nav:last-of-type {
  background-image: url("../images/Wachtenoptrein.jpg");
  background-size: 100%;
}

header nav:last-of-type ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 12em;
  margin: 1em;
  padding: 2em 0;
}

header nav:last-of-type ul li a {
  background-color: #d1ebf8;
  padding: .5em;
  border-radius: .2em;
  color: #1a6c9c;
  font-weight: 600;
}

/* Alles in de main */
main {
  margin: 0 1em;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}

/* De 99 verhalen van RET */
h1{
  font-weight: 500;
  font-size: 1.625em;
  padding-bottom: 0.3em;
  position: relative;

}

h1:after{
  content: "";
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #ef1a30;
}

/* Alles in het formulier (Sorteer op: emotie, leestijd, enz..) */
main > form {
  color: black;
}

fieldset{
  border: 0;
  margin: 0;
}

div{
  display: flex;
  justify-content: space-between;
}

/* de knoppen (radiobuttons) in het formulier (emotie, leestijd, enz) */
label {
  padding: 0.5em;
  background-color: #e8e8ea;
  border-radius: .2em;
  font-weight: 600;
  width: 5em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* wanneer je drukt op de knoppen */
input:checked+label {
  background: white;
  border: solid;
  color: #1a6c9c;
}

/* radiobuttons niet zichtbaar */
input {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
}

/* Net onder de form -> AANBEVOLEN */
h2{
  font-size: 1.125em;
  font-weight: 500;
}

/* Alles in het artikel */
article {
  background-color: white;
  width: 80%;
  border-radius: .2em;
  margin: auto;
  color: #6F6E71;
}

/* dingen in het artikel */
article header img {
  width: 100%;
  border-radius: .2em .2em 0 0;
}

h3 {
  margin: 1em;
  font-weight: 500;
  font-size: 1.625em;
  padding-bottom: 0.3em;
  position: relative;
}

h3:after{
  content: "";
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #ef1a30;
}

article footer {
}

article footer ul {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: row;
  padding:0 1em;
}
article footer ul li {
  text-transform: uppercase;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
}

article footer ul li em {
  width: 100%;

}
article footer ul li small {
  width: 100%;
  margin-left: .5em;
  width:50%
}

/* Er is hier een smal gebruikt omdat het om een stukje gaat uit een element */
article footer ul li small {
  text-transform: none;
  color: #1a6c9c;
}

/* 1 */
body footer{
}

body > footer{
  border-top: 0.1em solid #ef1a30;
  height: 20%;
  margin: 1em;
}

body > footer > nav > ul > li> a{
  color: #1a6c9c;
}

body > footer > nav > ul  {
    margin: 1em 0 0 0;
    padding: 0;
}

/* opmaak van de svg's */
#RET {
  height: 60%;
}

/* Met dit element heb ik ruzie..... daarom heb ik hem nu de class ruzie gegeven dit moet anders */
#RETT {
  height: 40%;
}

.ruzie {
  display: flex;
  justify-content: flex-end;
}

/* Opgeslagen en Profiel wil ik beide pakken hoe doe ik ze in een? */
#opgeslagen {
  height: 70%;
}

#profiel {
  height: 70%;
}

#beoordeling {
  width: 40%;
}

#leestijd {
  width: 20%;
}
