/*
Het werkt niet maar ze hebben het wel op de RET site wil ik dit?
cursor: pointer;

Met deze code kan je een tweede item uit een lijst pakken:
 main article footer ul li:nth-of-type(2){
  color: blue;
} */

* {
  margin: 0;
  padding: 0;
}

@keyframes knop {
  100% {
    transform: scale(1.4);
  }
}

/* algemene zaken */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  color: black;
  font-size: 1em;
}

em {
  font-style: normal;
}

html {}

body {
  line-height: 1.5 background: #f5f5f6;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  color: #1a6c9c;
  font-size: 1em;
  width: 100vw;
}

/* alles in de header*/
/* 1 */
header {
  background-color: white;
}

/* De bovenste drie dingen: opgeslagen, logo en profiel (1e nav)*/
header nav:first-of-type {
  height: 4em;
  padding: 0 0 1.5em 0;
}

header nav:first-of-type ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

header nav:first-of-type ul li {
  width: 30%;
  padding: 0.5em 0em;
}

header nav:first-of-type ul li a {
  display: flex;
  flex-direction: column;
}

header nav:first-of-type ul li a svg {
  height: 2.5rem;
  width: auto;
}

header nav:first-of-type>ul>li>a p {
  padding: .5em;
  color: #ef1a30;
  text-align: center;
}

/* Alle 99 verhalen, Kiezen door een quiz en Veras mij (2e nav)*/
header>nav:last-of-type {
  background-image: url("../images/Wachtenoptrein.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 2em;
}

header nav:last-of-type ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 25em;
  height: 6em;
  margin: 0 auto;
}

header nav:last-of-type ul li {
  padding: 0.5em;
}

header nav:last-of-type ul li a {
  background-color: #d1ebf8;
  padding: .5em;
  border-radius: .2em;
  color: #1a6c9c;
  font-weight: 600;
  white-space: nowrap;
}

/* Alles in de main */
main section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

/* De 99 verhalen van RET */
main h1 {
  font-weight: 500;
  font-size: 1.625em;
  padding: 0.3em 0;
  position: relative;
  grid-column: 1/2;
  margin-left: 0.6em;
}

main h1:after {
  content: "";
  width: 10rem;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #ef1a30;
}

nav > h1{
font-weight: 500;
font-size: 1.625em;
padding: 0.3em 0;
color: white;
text-align: center;
background-color: rgba(46, 49, 49, 0.3);
height: 2.5em;
width: 12em;
margin: 0 auto;
line-height: 2.5em;
}

/* Alles in het formulier (Sorteer op: emotie, leestijd, enz..) */
main>form {
  color: black;
  width: 100%;
  max-width: 25rem;
  grid-column: 1/3;
  margin-left: 1em;
}

fieldset {
  border: 0;
}

div {
  display: flex;
  justify-content: space-between;
}

/* de knoppen (radiobuttons) in het formulier (emotie, leestijd, enz) */
legend {
  padding-top: 1em;
  font-size: 1.125em;
}

label {
  padding: 0.5em;
  margin: 0.25em;
  background-color: #e8e8ea;
  border-radius: .2em;
  font-weight: 600;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: #e8e8ea;
}

label:first-of-type {
  margin: 0.25em 0.25em 0.25em 0;
}

label:last-of-type {
  margin: 0.25em 0 0.25em 0.25em;
}

/* wanneer je drukt op de knoppen */
input:checked+label {
  background: white;
  border: solid;
  color: #1a6c9c;
}

/* radiobuttons niet zichtbaar */
input {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
}

form button{
  position: absolute;
  right: -999em;
}

/* Net onder de form -> AANBEVOLEN */
h2 {
  font-size: 1.125em;
  font-weight: 500;
  padding-top: 1em;
  grid-column: 1/2;
}

/* Alles in het artikel */
article {
  background-color: white;
  border-radius: .2em;
  color: #6F6E71;
  margin: 0.1em 0.1em 1rem 0.1em;
  max-width: 26em;
  box-shadow: 0 10px 30px 0 rgba(35, 31, 32, .1);
}

article header {
  border-radius: 0.2em;
}

/* dingen in het artikel */
article header img {
  width: 100%;
  border-radius: .2em .2em 0 0;
  height: 15rem;
}

h3 {
  margin: 1rem;
  font-weight: 500;
  font-size: 1.625em;
  padding-bottom: 0.3em;
  position: relative;
}

h3:after {
  content: "";
  width: 6rem;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #ef1a30;
}

article footer {}

article footer ul {
  display: flex;
  align-items: baseline;
  padding: 0 1em 1em 1em;
}

article footer ul li {
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

article footer ul li em {
  width: 100%;
}

article footer ul li small {
  width: 100%;
  margin-left: .5em;
  width: 50%
}

/* Er is hier een smal gebruikt omdat het om een stukje gaat uit een element */
article footer ul li small {
  text-transform: none;
  color: #1a6c9c;
}

/* 1 */
body footer {}

body>footer {
  border-top: 0.1em solid #ef1a30;
  height: 20%;
  margin: 1em;
}

body>footer>nav>ul>li>a {
  color: #1a6c9c;
}

body>footer>nav>ul {
  margin: 1em 0 0 0;
}

/* svgland opmaak van de svg's (Alle stijling van SVG's in CSS ipv html) */
/* ---------------------------------------------------------------------------------------------------------- */

header nav li a svg#opgeslagen.knop{
animation-name: knop;
animation-duration: 1s;
}

header nav li a svg#opgeslagen g path:first-of-type{
  /* 1e path  */
  fill: #e5222f;
}

header nav li a svg#opgeslagen g path:last-of-type{
fill: none;
stroke: #fff;
stroke-miterlimit: 10;
stroke-width: 3px;
}

svg#Voetbalanalistenopslaan g path:first-of-type{
  /* 1e path  */
  fill: #e5222f;
}

svg#Voetbalanalistenopslaan g path:last-of-type{
fill: none;
stroke: #fff;
stroke-miterlimit: 10;
stroke-width: 3px;
}



header nav li a svg#RET {
  height: 2.5rem;
  width: auto;
}

header nav li a svg#RET g path{
  fill: #D82331;
}

header nav li a svg#profiel g circle{
  fill: #e5222f;
}

header nav li a svg#profiel g g circle{
fill: none;
stroke: #fff;
stroke-linecap: round;
stroke-miterlimit: 10;
stroke-width: 4px;
}

header nav li a svg#profiel g g path{
fill: none;
stroke: #fff;
stroke-linecap: round;
stroke-miterlimit: 10;
stroke-width: 4px;
}

svg#beoordeling {
  width: 45%;
  padding-top: 0.2em;
}

svg#beoordeling g path{
  fill: #d62135;
}

svg#beoordeling g path:last-of-type{
  fill: #6e6e70;
}

svg#leestijd {
  width: 13%;
  padding-top: 0.5em;
}

svg#leestijd g circle{
  fill: none;
  stroke: #e5222f;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

svg#leestijd g polyline{
  fill: none;
  stroke: #e5222f;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

svg#RETT {
  height: 2.5rem;
  width: auto;
}

svg#RETT g path{
  fill: #D82331;
}

svg#RETT g path:last-of-type{
  fill: #fff;
}

.ruzie {
  display: flex;
  justify-content: flex-end;
}

/* Hover&focusland alles met states en meer wajooo pizzahoek */
/* ---------------------------------------------------------------------------------------------------------- */

/* Proefje met transition op de lijst elementen in de header*/
/* header li{
transition:background-color .5s ease-in;
}

header li:hover{
  background-color: #6F6E71;
  border-bottom: 2px black;
} */

label:hover {
  background-color: #6F6E71;
  border-color: #6F6E71;
  color: white;
}

article:hover {
  margin: -0.1em -0.1em 0.8rem -0.1em;
}

header nav:first-of-type ul li:first-of-type:hover{
    border-top: 3px solid #ef1a30;
}

header nav:first-of-type ul li:last-of-type:hover{
    border-top: 3px solid #ef1a30;
}

header nav:first-of-type ul li:first-of-type{
    border-top: 3px solid white;
}

header nav:first-of-type ul li:last-of-type{
    border-top: 3px solid white;
}

/* Wanneer je hovert over PROFIEL veranderen onderdelen aan je svg*/
header nav li a:hover svg#opgeslagen g path:first-of-type{
  fill: #BF000F;
}

header nav li a:hover #profiel g circle{
  fill: #BF000F;
}

header nav li a:hover:first-of-type p{
  color: #BF000F;
}

header nav li a:hover:last-of-type p{
  color: #BF000F;
}

header nav li a #RET:hover g path{
  fill: #BF000F;
}

header nav:last-of-type ul li a:hover {
  background-color: #1a6c9c;
  color: white;
}

body>footer>nav>ul>li>a:hover {
    text-decoration: underline;
}

svg#RETT:hover g path{
  fill: #BF000F;
}

body.voetbalanalisten main button:hover{
background-size: 100%;
}

/* Voor de pagina: Voetbalanalisten */
/* ---------------------------------------------------------------------------------------------------------- */
body.voetbalanalisten main button{
  background-image: url(../images/Opgeslagenwit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  width: 9%;
  height: 9%;
  position: absolute;
  top: -13em;
  left: 1em;
  display: block;
  background-color: transparent;
  border: 0;
}

body.voetbalanalisten main button.gif{
  background-image: url(../images/Opgeslagen.gif);
  background-size: 10em;
}

body.voetbalanalisten main button.done{
  background-image: url(../images/Opgeslagen.svg);

}

body.voetbalanalisten img{
  width: 100%;
  padding-top: 0.5em;
}

body.voetbalanalisten header nav:last-of-type{
  display: none;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* Voor de pagina: profiel */

header.profiel nav:first-of-type ul li:last-of-type{
  border-top: 3px solid #ef1a30;
}

main.profiel legend {
  padding: 3em 1em 1em 1em;
  position: relative;
  color: #1a6c9c;
  text-align: center;
}

main.profiel form{
  max-width: 100%;
  display: flex;
  justify-content: center;
  height: 26em;
}

main.profiel form div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 34em;
  padding: 2em;
}

main.profiel label{
  padding: 0.8em;
  margin: 0.3em;
  font-size: 1em;
}

main.profiel legend:after {
  content: "";
  width: 10rem;
  border-bottom: 3px solid #ef1a30;
  position: absolute;
  right: 9em;
  bottom: 0;
  padding: 0.1em 0em;
}

nav.profiel ul {
  display: flex;
  justify-content: space-between;
  padding: 0em 1em;
}

nav.profiel ul li {
    display: flex;
    flex-direction: column;
}

nav.profiel ul li:first-of-type a{
  padding-top: 3em;
}

nav.profiel ul li:nth-of-type(2) {
    padding-top: 3.4em;
}

nav.profiel ul li:last-of-type a{
  background-image: url(../images/Volgende.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.6em;
  height: 2.5rem;
  width: 6em;
  padding-top: 4.5em;
  text-align: center;
  color: black;
}

nav.profiel ul li:last-of-type a:hover {
  background-image: url(../images/Slaover.gif);
  background-size: 8em;
  color: white;
}
main{
  position: relative;
}

nav.profiel ul li a p {
  text-align: center;
}

nav ul li a #Vorige{
  height: 1.8rem;
  width: auto;
}

nav ul li a svg#Vorige g g g line {
fill: none;
stroke: #6e6e70;
stroke-linecap: round;
stroke-miterlimit: 10;
stroke-width: 10px;
}

nav ul li a svg#Vorige g g g path {
fill: #6e6e70;
}

nav ul li #Voortgang{
  height: 0.8rem;
  width: auto;
}

nav ul li svg#Voortgang g g circle{
fill: #6d6d70;
}

nav ul li svg#Voortgang g g path{
fill: #6d6d70;
}

body header.profiel nav:last-of-type{
  display: none;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* Hier begint alles met mediaquery's */
/* De h2 past zich overal aan aan de gehele breedte van het scherm om de artikelen naar beneden te drukken! */
/* De artikelen zitten tegen de rand aan voor dat de breedte van het scherm 25em is*/
@media (max-width: 25em) {
  article {
    margin: 0.5em -1em;
  }

  article:hover {
    margin: 0.3em -1.2em;
  }

  body.voetbalanalisten main button{
    top: -10em;
  }

}


/* Vanaf hier zijn ligt het artikel in het midden van het scherm is
het lettertype in de knoppen en formulier is iets kleiner
het formulier heeft een maximum breedte*/
@media (max-width: 30em) {
  main section{
    margin: 0 1em;
  }

  header nav:last-of-type ul {
      width: 20em;
      padding-bottom: 1em;
  }

  header nav:last-of-type ul li a {
    font-size: 0.75em;
  }

  label {
    font-size: 0.75em;
  }

  main.profiel label{
    font-size: 0.75em;
  }

  main>form {
    max-width: 18rem;
    grid-column: 1/2;
  }

  main.profiel legend:after{
      right: 5em;
  }

  nav h1{
    display: none;
  }

  body.voetbalanalisten img:nth-of-type(1){
    /* Desktop */
    display: none;
  }
  body.voetbalanalisten img:nth-of-type(2){
  /* Tablet */
    display: none;
  }
  body.voetbalanalisten img:nth-of-type(3){
  /* Mobiel */

  }

}

@media (min-width: 30em) {
  main section{
    margin: 0 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  main h1{
    grid-column: 1/3;
  }

  h2 {
    grid-column: 1/3;
  }

  header nav:last-of-type ul {
    padding: 2em 0;
  }
  header>nav:last-of-type {
    background-position-y: -1.5em;
    }

  body.voetbalanalisten main button{
    top: -5em;
  }

  body.voetbalanalisten img:nth-of-type(1){
    /* Desktop */
    display: none;
  }
  body.voetbalanalisten img:nth-of-type(2){
  /* Tablet */

  }
  body.voetbalanalisten img:nth-of-type(3){
  /* Mobiel */
    display: none;
  }
  }

  @media (min-width: 50em) {
  header>nav:last-of-type {
    background-position-y: -14em;
    }
  }

  @media (max-width: 60em) {
  nav h1{
    display: none;
  }
  }

  @media (min-width: 60em) {
    main section{
      margin: 0 1em;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem;
    }

    main h1{
      display: none;
    }

    h2 {
      grid-column: 1/4;
    }

    header nav:last-of-type ul {
      padding: 2em 0;
    }

    body.voetbalanalisten main button{
      top: -2.5em;
    }

    body.voetbalanalisten img:nth-of-type(1){
      /* Desktop */
    display: block;
    }
    body.voetbalanalisten img:nth-of-type(2){
    /* Tablet */
      display: none;
    }
    body.voetbalanalisten img:nth-of-type(3){
    /* Mobiel */
      display: none;
    }

  }
}
